body {
    margin: 0;
    padding: 0;
    font-family: 'Jetbrains Mono', 'Maple Mono CN', monospace;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    overflow-x: hidden;

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background: var(--bg-secondary);
    transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: var(--color-primary);
    transition: background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--color-secondary);
    transition: background 0.2s ease-in-out;
}