[data-theme="dark"] {
    --bg-primary: #282828;
    --bg-secondary: #2f2f2f;

    --text-primary: #e0e0e0;
    --text-secondary: #b0b0b0;
    --text-tertiary: #a8a8a8;

    --color-primary: #3d3d3d;
    --color-secondary: #4d4d4d;
    --color-tertiary: #797979;
    --text-on-color: #ffffff;

    --border-color: #2f2f2f;
}