:root{
    --bg-primary: #ffffff;
    --bg-primart-reverse: #000000;

    --bg-secondary: #fafafa;
    --bg-secondary-reverse: #333333;

    --text-primary: #000000;
    --text-primary-reverse: #ffffff;

    --text-secondary: #666666;
    --text-secondary-reverse: #cccccc;
    
    --text-tertiary: #999999;
    --text-tertiary-reverse: #aaaaaa;
}